<div class="dialog-container">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <h1 mat-dialog-title>Add User</h1>
  <div mat-dialog-content class="tabble-padding">
    <p>Please add user Name</p>
    <div class="input-fields gap-16">
      <mat-form-field appearance="outline">
        <mat-label>Enter firstname</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.firstName"
          #ctrl="ngModel"
          required
          matInput
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter lastname</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.lastName"
          #ctrl="ngModel"
          required
          matInput
        />
      </mat-form-field>
    </div>

    <div class="email-section">
      <mat-form-field appearance="outline">
        <mat-label>Enter Email</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.email"
          #ctrl="ngModel"
          required
          matInput
        />
      </mat-form-field>
    </div>

    <div class="address">
      <!-- z
    <mat-form-field appearance="outline">
      <mat-label>Enter street and house no.</mat-label>
      <input
      [disabled]="loading"
      [(ngModel)]="user.street"
          #ctrl="ngModel"
          required
          matInput
          placeholder="Streetname + no"
          />
        </mat-form-field>
    </div>
  -->
      <div class="input-fields gap-16">
        <mat-form-field appearance="outline">
          <mat-label>Enter City.</mat-label>
          <input
            [disabled]="loading"
            [(ngModel)]="user.city"
            #ctrl="ngModel"
            required
            matInput
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Enter phone number.</mat-label>
          <input
            [disabled]="loading"
            [(ngModel)]="user.phoneNumber"
            #ctrl="ngModel"
            required
            matInput
          />
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions>
      <button (click)="saveUser()" mat-button>add</button>
      <button mat-button (click)="closeDialogUsers()">Cancel</button>
    </div>
  </div>
</div>
