RewriteEngine on
RewriteBase /

# Wenn die angeforderte Ressource keine Datei oder kein Verzeichnis ist, übergib sie an index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html [L,QSA]