.mat-mdc-dialog-title {
  margin: 0;
}

p {
  display: none;
}

.w100 {
  width: 100%;
}

.clm {
  display: flex;
  flex-direction: column;
}

.w350px {
  width: 350px;
}

.pdg {
  padding: 0px 16px 25px;
}
@media (width <= 1000px) {
  .w350px {
    width: initial;
  }
}
