<div class="dialog-container w350px">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <h1 mat-dialog-title>Edit Street</h1>
  <p>Change your address</p>
  <div mat-dialog-content>
    <div class="address">
      <mat-form-field appearance="outline" class="w100">
        <mat-label>Enter street and house no.</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.street"
          #ctrl="ngModel"
          required
          matInput
          placeholder="Streetname + no"
        />
      </mat-form-field>
    </div>
    <div class="input-fields gap-16 clm">
      <mat-form-field appearance="outline">
        <mat-label>Enter City.</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.city"
          #ctrl="ngModel"
          required
          matInput
          placeholder="City"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter zip code.</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.zipCode"
          #ctrl="ngModel"
          required
          matInput
          placeholder="zip"
        />
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="pdg">
    <button (click)="saveUser()" mat-button>add</button>
    <button mat-button>Cancel</button>
  </div>
</div>
