.gap-16 {
  gap: 16px;
  display: flex;
}

p {
  padding: 24px 0px 24px 0px;
}

.dialogName {
  padding: 0px;
}

.fc {
  flex-direction: column;
}

@media (width <= 1000px) {
  .w350 {
    width: initial;
  }
}
