<div class="dialogName">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <div mat-dialog-content>
    <p>Please add user name and email</p>
    <div class="input-fields gap-16 fc">
      <mat-form-field appearance="outline">
        <mat-label>Enter firstname</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.firstName"
          #ctrl="ngModel"
          required
          matInput
          placeholder="Firstname"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter lastname</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.lastName"
          #ctrl="ngModel"
          required
          matInput
          placeholder="Lastname"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter email</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.email"
          #ctrl="ngModel"
          required
          matInput
          placeholder="Email"
        />
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button (click)="saveUser()" mat-button>add</button>
      <button mat-button (click)="closeDialogUsers()">Cancel</button>
    </div>
  </div>
</div>
