.edit {
  position: absolute;
  right: 0;
  bottom: 8px;
}

.costumer-head {
  position: relative;
  padding: 160px 16px 46px;
  background-color: #264e6f;
  color: white;

  h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
    letter-spacing: 1.2px;
  }
}

.address-costumer {
  padding: 22px 16px 0px;
}

.costumer-detail {
  margin-top: 30px;
}

.ml {
  margin-left: 8px;
}

.edit-data {
  position: absolute;
  right: 0px;
  top: 8px;
}

.empty {
  display: flex;
}
