<div class="login-overlay">
  <mat-card
    ><button
      class="dots"
      type="button"
      mat-icon-button
      aria-label="Example icon button with a vertical three dot icon"
      (click)="openDialog()"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-card-content>Access with email</mat-card-content>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="Ex. pat@example.com"
          formControlName="email"
          [errorStateMatcher]="matcher"
        />
        <mat-error> Enter correct <strong>E-Mail</strong> </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-hint class="red" *ngIf="loginFail"> Password is wrong! </mat-hint>

        <mat-hint
          *ngIf="form.get('password').hasError('minlength') && !loginFail"
        >
          Password must be 8+ characters
        </mat-hint>
      </mat-form-field>
      <div class="btnbox">
        <button
          type="button"
          *ngIf="!this.form.valid"
          mat-raised-button
          disabled
        >
          OK
        </button>
        <button *ngIf="this.form.valid" mat-button type="submit">OK</button>
        <button type="button" mat-button [routerLink]="['/register']">
          REGISTER
        </button>
      </div>
      <div class="google">
        <a
          (click)="signInWithGoogle()"
          style="text-decoration: none; cursor: pointer"
        >
          <div class="google">
            <img
              src="assets/img/google.png"
              alt=""
              height="24px"
              width="24px"
            />
            Sign In with Google
          </div>
        </a>
      </div>
    </form>
  </mat-card>
</div>
