<div class="login-overlay">
  <mat-card
    ><button
      class="dots"
      mat-icon-button
      aria-label="Example icon button with a vertical three dot icon"
      (click)="openDialog()"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-card-content>Access with email</mat-card-content>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!--   <label>Email</label> -->
      <mat-form-field>
        <input
          matInput
          type="email"
          placeholder="Ex. pat@example.com"
          formControlName="email"
        />
        <mat-hint *ngIf="form.get('email').hasError('required') && !loginFail">
          Email is required
        </mat-hint>
        <mat-hint *ngIf="form.get('email').hasError('email') && !loginFail">
          Invalid email format
        </mat-hint>
        <mat-hint class="red" *ngIf="loginFail"> E-Maill is wrong! </mat-hint>
      </mat-form-field>

      <!--  <label>Password</label> -->
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-hint class="red" *ngIf="loginFail"> Password is wrong! </mat-hint>
        <mat-hint
          *ngIf="form.get('password').hasError('required') && !loginFail"
        >
          Password is required
        </mat-hint>
        <mat-hint
          *ngIf="form.get('password').hasError('minlength') && !loginFail"
        >
          Password must be 8+ characters
        </mat-hint>
      </mat-form-field>
      <div class="btnbox">
        <button *ngIf="!this.form.valid" mat-raised-button disabled>OK</button>
        <button *ngIf="this.form.valid" mat-button type="submit">OK</button>
        <button mat-button [routerLink]="['/register']">REGISTER</button>
      </div>
    </form>
  </mat-card>
</div>
