.btn {
  position: absolute;
  right: 64px;
  top: 20px;
  background-color: #48aaf9;
  width: 40px;
  height: 40px;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-size: 16px;
  letter-spacing: 1.2px;

  tr {
    &:hover {
      border: 1px solid #7e6868d9;
      background-color: rgba(0, 0, 0, 0.157);
    }

    &:first-child {
      &:hover {
        border: initial;
        background-color: unset;
      }
    }

    th {
      color: rgba(0, 0, 0, 0.6);
      font-weight: 500;
      padding: 25px 14px 15px;
    }

    th,
    td {
      padding: 10px 10px;
    }

    td {
      border-top: 1px solid #7e6868d9;
      cursor: pointer;
      padding: 20px 16px 10px;
    }
  }
}

.mat-padding0 {
  display: block;
  padding: 0;
}
