body {
  font-family: "Corbel" sans-serif;
}

.h100 {
  height: 100vh;
}

mat-drawer-content {
  background-color: #b1b1b130;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-toolbar {
  background: #3b85c1;
  height: 85px;
  color: white;
  gap: 16px;
  letter-spacing: 1px;
}

.example-sidenav {
  width: 250px;
  font-size: 16px;
  letter-spacing: 1.2px;
}

.logo-menu {
  border-bottom: 1px solid rgb(182 181 181 / 11%);
  padding: 0 16px;
  height: 84px;
  display: flex;
  align-items: center;
  font-size: 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 20px;

  li {
    display: flex;
    align-items: center;

    padding: 8px 20px;

    height: 48px;
    cursor: pointer;

    .mat-icon {
      margin-right: 16px;
    }

    &:hover {
      background-color: rgb(182 181 181 / 11%);
    }
  }
}

.router-container {
  padding: 40px 56px;
}

.logo {
  width: 220px;
  height: 50px;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 12px;
}

.mat-toolbar {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
