<mat-drawer-container class="example-container h100" autosize>
  <mat-drawer
    #drawer
    class="example-sidenav box-shadow"
    [opened]="false"
    mode="side"
  >
    <div class="logo-menu">
      <img src="../assets/img/logo-crm.png" class="logo" />
    </div>

    <ul>
      <li (click)="toDashboard()">
        <mat-icon
          ><span class="material-symbols-outlined"> fact_check </span></mat-icon
        >Dashboard
      </li>
      <li (click)="toUser()"><mat-icon>person</mat-icon>User</li>
      <li (click)="toCostumer()"><mat-icon>handshake</mat-icon>Costumer</li>
      <li (click)="toPrivacy()">
        <span class="material-symbols-outlined">
          <mat-icon>policy</mat-icon>Policy
        </span>
      </li>
      <li (click)="toImprint()"><mat-icon>notes</mat-icon>Imprint</li>

      <li (click)="logout()"><mat-icon>logout</mat-icon>Logout</li>
    </ul>

    <div class="logout"></div>
  </mat-drawer>

  <div class="example-sidenav-content d-flex">
    <mat-toolbar>
      <mat-icon (click)="drawer.toggle()">menu</mat-icon>
      <span *ngIf="dashboardPage">Dashboard</span>
      <span *ngIf="userPage">User`s</span>
      <span *ngIf="costumerPage">Costumer`s</span>
      <span *ngIf="imprintPage">Imprint</span>
      <span *ngIf="privacyPage">Privacy</span>
    </mat-toolbar>
  </div>
  <div class="router-container" (click)="drawer.close()">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
