<mat-card>
  <h1>Impressum</h1>

  <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
  <p>
    G&ouml;kay Sahin<br />
    Sonnengasse 8<br />
    74072 Heilbronn
  </p>

  <h2>Kontakt</h2>
  <p>
    Telefon: &#91;01777213054&#93;<br />
    E-Mail: mail@g&ouml;kay-sahin.de
  </p>

  <div class="imprintus">
    <strong>Umsatzsteuer-Identifikationsnummer gem. §27a UStG:</strong><br />

    <p>
      <strong>Quellenangaben der verwendeten Bilder und Grafiken:</strong
      ><br />Google Fonts/ Material Design
    </p>
  </div>
</mat-card>
