.mdc-fab {
  position: absolute;
  right: 56px;
  top: 14px;
  background-color: #48aaf9;
  width: 40px;
  height: 40px;
}

table {
  border-collapse: collapse;
  font-size: 16px;
  letter-spacing: 1.2px;

  tr {
    &:first-child {
      cursor: unset;
      &:hover {
        background-color: unset;
        border: initial;
      }
    }

    th {
      color: rgba(0, 0, 0, 0.6);
      font-weight: 500;
      font-size: 16px;
      text-align: left;
      padding: 25px 14px 15px;
    }

    td {
      cursor: pointer;
      padding: 20px 16px 10px;
      border-top: 1px solid #7e6868d9;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.157);
      border: 1px solid #7e6868d9;
    }
  }
}

.pad8 {
  padding: 0px 8px;
}
